{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<div class="content">
    <div class="card  my-4">
        <div class="card-header">
            <span class="card-title h5">Voir les informations de l'administrateurs</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ '/uploads/pictures/' ~ admin.picture }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ admin.lastname }}, {{ admin.firstname }}</h5>
                        <p class="text-muted mb-1">{{ admin.job }}</p>
                        <p class="text-muted mb-4">{{ admin.email }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            {% if app.user.id == admin.id %}
                                <a href=" {{ path('administrateurs_picture', {'id': admin.id}) }} " type="button" class="btn btn-warning">Changer l'avatar</a>
                            {% endif %}
                        </div>
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.firstname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prénom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.lastname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Poste</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.job }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.contact }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="d-flex justify-content-start">
                            {% if app.user.id == admin.id %}
                                <a href="{{ path('administrateurs_edit', {'id': admin.id}) }}" type="button" class="btn btn-success me-2">Modifier</a>
                                <a href="{{ path('administrateurs_remove', {'id': admin.id}) }}" type="button" class="btn btn-danger me-2">Supprimer</a>
                            {% endif %}
                            <a href="{{ path('administrateurs') }}" class="btn btn-secondary">Liste</a>
                        </div>
                        
                    </div>


                    
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}