{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<div class="content">
    <div class="card  my-4">
        <div class="card-header">
            <span class="card-title h5">Voir les informations de l'operateurs</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ '/uploads/pictures/' ~ operateur.picture }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ operateur.lastname }}, {{ operateur.firstname }}</h5>
                        <p class="text-muted mb-1">{{ operateur.job }}</p>
                        <p class="text-muted mb-4">{{ operateur.email }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            {% if is_granted('ROLE_OPERATEUR') and app.user.id == operateur.id %}
                                <a href=" {{ path('operateurs_picture', {'id': operateur.id}) }} " type="button" class="btn btn-warning">Changer l'avatar</a>
                            {% endif %}
                        </div>
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ operateur.firstname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prénom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ operateur.lastname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Poste</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ operateur.job }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ operateur.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ operateur.address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ operateur.contact }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="d-flex justify-content-start">
                            {% if is_granted('ROLE_OPERATEUR') and app.user.id == operateur.id %}
                                <a href="{{ path('operateurs_edit', {'id': operateur.id}) }}" type="button" class="btn btn-success me-2">Modifier</a>
                                <a href="{{ path('operateurs_password', {'id': operateur.id}) }}" type="button" class="btn btn-warning me-2">Modifier votre mot de passe</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMINISTRATEUR') %}
                                <a href="{{ path('operateurs_remove', {'id': operateur.id}) }}" type="button" class="btn btn-danger me-2">Supprimer</a>
                            {% endif %}
                            <a class="btn btn-secondary" href="{{ path('operateurs') }}">Liste</a>
                        </div>
                        
                    </div>


                    
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}