{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<div class="content">
    <div class="card  my-4">
        <div class="card-header">
            <span class="card-title h5">Modifier les informations du technicien</span>
        </div>
        <div class="card-body">

            {{ form_start(form, {'action': path('techniciens_edit', {'id': technicien.id}), 'method': 'POST'}) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit">Enregistrer</button>

            <a class="btn btn-secondary" href="{{ path('techniciens_show', {'id': technicien.id}) }}">Annuler</a>

            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}