{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<div class="content">
    <div class="card  my-4p">
        <div class="card-header">
            <span class="card-title h5">Voir les informations de l'techniciens</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ '/uploads/pictures/' ~ technicien.picture }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ technicien.lastname }}, {{ technicien.firstname }}</h5>
                        <p class="text-muted mb-1">{{ technicien.job }}</p>
                        <p class="text-muted mb-4">{{ technicien.email }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href=" {{ path('techniciens_picture', {'id': technicien.id}) }} " type="button" class="btn btn-warning">Changer l'avatar</a>
                        </div>
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ technicien.firstname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prénom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ technicien.lastname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Poste</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ technicien.job }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ technicien.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ technicien.address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ technicien.contact }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="d-flex justify-content-start">
                            <a href="{{ path('techniciens_edit', {'id': technicien.id}) }}" type="button" class="btn btn-success">Modifier</a>
                            <!--<button type="button" class="btn btn-outline-danger disabled ms-1">Supprimer</button>-->
                        </div>
                        
                    </div>


                    
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}