{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<div class="content">
    <div class="card  my-4">
        <div class="card-header">
            <span class="card-title h5">Modifier le document</span>
        </div>
        <div class="card-body">

            {{ form_start(form, {'action': path('documents_edit', {id:document.id}), 'method': 'POST'}) }}

            {{ form_row(form.colection, {'selected': document.colection}) }}

            {{ form_row(form.name, {'value': document.name}) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <a class="btn btn-secondary" href="{{ path('documents') }}">Annuler</a>
            
            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}